@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Wendy+One');
@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  background-color: #93A8A2;
  color: #FFF;
  text-align: center;
}

main { 
  width: 96%;
}

/* Forms Start */

.form {
  position: relative;
  width: 560px;
  margin: 65px auto;
  padding: 50px 60px 70px 60px;
  background-color: #ffffff;
  border-radius: 15px;
}

.form h1 {
  color: #264653;
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.username, .email, .pass, .avatar, .title, .author, .cover, .genre, .year, .description, .isbn, .pagesCount, .price {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 10px 10px 60px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #d0ddd8;
  color: #101f25;
  font-size: 1.1em;
}

.submit {
  outline: none;
  border: none;
  width: 100%;
  max-width: 900px;
  padding: 12px;
  border-radius: 8px;
  background: #1a791a;  /* your green */
  color: #fff;        /* gold text */
  font-size: 1.5em;
  font-weight: 900;
  transition: 0.2s ease;
}

.submit:hover {
  cursor: pointer;
  background: #155f15;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}


.form-field {
  position: relative;
}

.fa-user, .fa-envelope, .fa-unlock-alt, .fa-image, .fa-book, .fa-book-open, .fa-clipboard, .fa-sign-in-alt, .fa-pen, .fa-barcode, .fa-file-alt, .fa-dollar-sign {
  position: absolute;
  top: 4px;
  left: 14px;
  color: #264653;
  font-size: 30px;
}

.fa-unlock-alt {
  top: 6px;
}

.input-error {
  background-color: #d61818;
  font-size: 17px;
  font-weight: bold;
  padding: 14px;
  margin-top: -25px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: #fff;
}

input:disabled, textarea:disabled {
  background: #DDD;
}

.submit:disabled {
  background-color: #d61818;
  cursor: not-allowed;
  opacity: .8;
}

/* Forms End */

/* .ngx-pagination a {
  color: #FFF !important;
  padding: 10px !important;
  background-color: #777;
} */

.ngx-pagination li {
  margin-left: 10px;
}

.ngx-pagination a {
  text-decoration: none;
}

.ngx-pagination {
  display: flex !important;
  justify-content: center !important;
  margin: 25px 0 !important;
  list-style: none !important;
}

.ngx-pagination li a {
  background: #35574f !important;
  color: #ffffff !important;
  padding: 8px 13px !important;
  margin: 0 5px !important;
  border-radius: 6px !important;
  font-family: 'Poppins', sans-serif !important;
  transition: .2s ease !important;
  text-decoration: none !important;
}

.ngx-pagination li a:hover {
  background-color: #EBC77A !important;
  color: #1a1a1a !important;
}

.ngx-pagination .current {
  background: #EBC77A !important;
  color: #1a1a1a !important;
  font-weight: 700 !important;
  border-radius: 6px !important;
}

.ngx-pagination .disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  color: #f0f0f0 !important;
  background-color: transparent !important;
}

.ngx-pagination .disabled a,
.ngx-pagination .disabled span {
  color: #e8e8e8 !important;
  background-color: transparent !important;
}

.ngx-pagination .current:hover {
  cursor: not-allowed;
}

.pagination-previous span, .pagination-next span {
  cursor: not-allowed;
}

.myModal div {
  color: #000;
  text-align: left;
}

.myModal button {
  margin-left: 10px;
}

.no-results {
  margin: 12em 0;
}