.shopping-cart {
  width: 90%;
  max-width: 950px;
  margin: 30px auto;
  padding: 25px;
  background-color: #2C3E3A;
  border-radius: 10px;
  color: #EEE;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
}

.pull-right {
  margin: 10px;
}

.card-body {
  background-color: #2f3530;
}

#book-price {
  padding-top: 10px;
}

.text-muted {
  margin-left: 5px;
}

.quantity {
  float: left;
  margin-right: 15px;
  background-color: #EEE;
  position: relative;
  width: 80px;
  overflow: hidden;
}

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #F6F6F6;
}

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box;
}

.alert {
  width: 25%;
  float: right;
  font-size: 15px;
}